img {
    width: 100%;
}

main :hover {
    background-color: rgb(230, 242, 246);
}

.food :hover {
    background-color: rgb(255, 165, 165);

}

.item :hover {
    background-color: rgb(167, 255, 255);
}

th {
    font-weight: bold;
    font-size: large;
}

.food-item {
    display: grid;
}

table {
    width: 200px
}

table tr:nth-child(2n) {
    background-color: lightgray;
}

header {
    background-color: orange;
}

header a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color: olive;
}

h3 > a {
    color: green;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
}

.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto
}

.item img {
    width: 200px
}

.food {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}



footer {
    padding: 24px 40px;
    background-color: greenyellow;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px
}
